* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    
    

    display: flex;
    align-items: center;
    padding-left: 140px;
    color: black;
}

.login-box {
    width: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    text-transform: uppercase;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
     border-bottom: white 1.5px solid;
}

.input-group input {
    width: 100%;
    padding: 10px; 
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.input-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}



button {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    margin: 10px 0;
}
button:hover {
    background-color: #063204;
    font-size: 18px;
}
p {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: small;
}
a {
    color: #4CAF50;
    text-decoration: none;
    font-size: small;
}
a:hover {
    text-decoration: underline;
    font-style: italic;
    font-size: small;
}
    
.checkbox {
    transform: scale(1.5);
    margin-right: 8px;
     accent-color: rgb(90, 92, 94);
}
