/*---------header section-----------*/



body {
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #b8b8b8;
    font-style: normal;
    line-height: 25px;
    background: #111111;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

.btn {
    background: #FFCE1C;
    border: none;
    border-radius: 30px;
    color: #111;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 18px 45px;
    white-space: nowrap;
}

.header-top {
    padding-top: 40px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
}

.cart-top li {
    display: inline-block;
    padding: 10px 20px;
    border-right: 2px solid #5C5C5C;
}

.cart-top li {
    border: none;
}

.cart-top li a {
    color: #fff;
    font-size: 18px;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 25px;
    position: relative;

}

.main-menu ul li.active a {
    color: #FCCE1C;
}

.main-menu ul li a {
    display: block;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 30px 0;
    position: relative;

}

/*----banner section------*/

.slider-content {
    text-align: center;
   
    margin-left: 0;
}

.slider-btn {
    display: inline-block;
    position: relative;

}

.second-menu {
    position: relative;
    z-index: 9;
}

.slider-area {
    margin-top: 0;
}

.slider-bg {
    min-height: 1080px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.slider-content h2 {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 40px;
}

.slider-content h2 span {
    color: #FFCE1C;
    font-weight: 400;

}

.slider-content p span {
    display: inline-block;
    height: 2px;
    width: 40px;
    background: #FFCE1C;
    margin-right: 20px;
    position: relative;
    top: -4px;
}

.header-img {
    margin-left: 0;
    display: block;
    margin: auto;
}

.offer-banner {
    position: absolute;
    right: 0;
    top: 10%;
}
@media (min-width: 992px) {
    .slider-content {
        text-align: left;
    }
}
